<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://rdsc28w0w9vws8sk53nn.mysql.rds.aliyuncs.com:3306/sw?profileSQL=true</property>
		<property name="connection.username">skyworld</property>
		<property name="connection.password">root123</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">15</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>


		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hbm2ddl.auto">create</property> -->



		<mapping class="com.skyworld.service.po.SWPUser" />
		<mapping class="com.skyworld.service.po.SWPQuestion" />
		<mapping class="com.skyworld.service.po.SWPUserAvatar" />
		<mapping class="com.skyworld.service.po.SWPFeedback" />
		<mapping class="com.skyworld.service.po.SWPArticle" />
		<mapping class="com.skyworld.service.po.SWPArticleComment" />
		<mapping class="com.skyworld.service.po.SWPArticlePicture" />
		<mapping class="com.skyworld.service.po.SWPArticleRecommendation" />
		<mapping class="com.skyworld.service.po.SWPRelationship" />
		<mapping class="com.skyworld.service.po.SWPServicerDesc" />
		<mapping class="com.skyworld.service.po.SWPServicerCompanyDesc" />
		<mapping class="com.skyworld.service.po.SWPServicerCompanyItem" />
		
	</session-factory>

</hibernate-configuration>

